<div class="container">
    <h1 style="text-align: center;" class="mt-3 mb-3">Categorias dos Produtos:</h1>
    <div class="row">
        <p>Atualmente, nossa empresa está mais focada no ramo de <strong>Produtos tecnológicos</strong> , como:<br>
        <br>1 - Telefones Celulares<br>
            2 - Computadores e Notebooks<br>
            3 - Acessórios e Relógios<br>
        </p><br>
        <p>E nossas categorias no momento são:</p><br>
        <h3>Eletrônicos e Acessórios</h3>
    </div>
</div>
