<div class="container mt-3 mb-3">
    <img src="" width="100%">
    <h1 style="font-size:30px;text-align:center;"class="mb-5 mt-5">Dispositivo Gestão de Produtos</h1>
    <p>O Dispositivo Gestão faz a função de armazenar e guardar, os dados dos produtos postos
        para salvar no nosso banco.Trabalhamos com os Bancos de Dados Não-relacionais, onde tem a propriedade de armazenamento
        e expansão melhor que os relacionais.
    </p><br>
    <p>Nós da <strong>IATECAM</strong>, acreditamos na melhor relação com o cliente, sempre buscando 
        a maior qualidade possível da entrega de nossos produtos, visando sempre satifazer o consumidor e 
        levar mais facilidade e praticidade ao dia a dia.
    </p>
    <p>Preencha as informações e depois acesse o banco:</p>
        <form>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <input type="text"placeholder="Insira seu nome">
                </div>
                <div class="col-lg-6 mb-3">
                    <input type="text"placeholder="Insira a Empresa">
                </div>
                <div class="col-lg-6 mb-3">
                    <input type="text" placeholder="Insira seu Email">
                </div>
                <div class="col-lg-6 mb-3">
                    <p>Qual a categoria do seu produto?</p>
                     <input type="checkbox"class="check"> Eletrônicos
                     <input type="checkbox" class="check"> Acessórios
                     <input type="checkbox" class="check"> Vídeo games
                </div>
            </div>
        </form>
    <a class="btn">Enviar e acessar o Banco:</a>
</div>
