<div class="banner">
    <div class="conteudo">
        <h1>Oportunidades Incríveis mais perto de você!</h1>
    </div>
    <a routerLink="menu" class="botao">Saiba Mais<i class="bi bi-arrow-right"></i></a>
    
</div>
<!--Os passos:-->
<div class="container mt-6 mb-6">
    <h1 class="paragrafo mb-5 mt-5">Como fazer o cadastro de<span class="paragrafo-bold"> Produtos?</span></h1>
    <div class="row mt-3">
     <!-- Primeiro -->
            <div class="col-lg-4 mt-2 mb-3">
                <div class="stepBox">
                    <h1>1</h1>
                <p>Entre na opção Gestão e acesse a página.</p>
                </div>
            </div>
    <!-- Segundo -->
            <div class="col-lg-4 mt-2 mb-3">
                <div class="stepBox">
                    <h1>2</h1>
                    <p>Preencha as informações correspondentes.</p>
                </div>
            </div>
    <!-- Terceiro -->
            <div class="col-lg-4 mt-2 mb-3">
                <div class="stepBox">
                    <h1>3</h1>
                    <p>E cadastre o que você quer no nosso Banco.</p>
                </div> 
            </div>
        </div>
    </div>

    <!--Caixa Products-->
    <h1 style="text-align: center;font-size:40px;font-weight:bold;"class="mt-4 mb-4">Produtos de <span class="paragrafo-bold">Exemplo:</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt" *ngFor="let fd of productData; index as i">
                <div class="productBox" *ngIf="i<=3">
                    <img src="{{fd.prodImg}}"/>
                    <h2>{{fd.name}}</h2>
                    <p>{{fd.category}}</p>
                    <p>R${{fd.price}}</p>
                </div>
            </div>
        </div>
        <a routerLink="home" class="vermaisbtn">Ver Mais<i class="bi bi-arrow-right"></i></a>
    </div>

